hw_1/.ipynb_checkpoints/*
tmp/
.datasets_tmp/
hw_2/.ipynb_checkpoints/*

.idea/
hw_2/debug_methods.py
hw_2/exercises_2_part_2_copy.ipynb
hw_2/lecture_features-27032-273081.ipynb
hw_2/speed_dating_dat*
hw_2/__init__.py

